In [1]:
import pandas as pd
import numpy as np

In [ ]:
cols_movies = ['movie_id', 'movie_title', 'movie_genre']
movies = pd.read_csv('movies.csv',names=cols_movies,header=0)

In [29]:
categorias = movies.movie_genre.str.get_dummies(sep='|')
categorias.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [30]:
movies = pd.concat([movies, categorias], axis=1)
del movies['(no genres listed)']
movies.head()

,movie_id,movie_title,movie_genre,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
cols_ratings = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('ratings.csv', names=cols_ratings, header=0)
del ratings['timestamp']
ratings.head()

   user_id  movie_id  rating
0        1        31     2.5
1        1      1029     3.0
2        1      1061     3.0
3        1      1129     2.0
4        1      1172     4.0

In [31]:
movie_categories = movies.columns[3:].tolist()

In [34]:
np.array(movie_categories)

array(['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'Action', 'Adventure', 'Animation', 'Children',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
       'Thriller', 'War', 'Western', 'Action', 'Adventure', 'Animation',
       'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
       'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western'], dtype='<U11')

In [35]:
movies.tail()

,movie_id,movie_title,movie_genre,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
40105,165193,Tanya's Island (1980),Drama|Fantasy|Romance,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
40106,165195,Pacific Banana (1981),Comedy,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
40107,165197,Werewolf in a Women's Prison (2006),(no genres listed),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40108,165199,The Fearless Young Boxer (1979),Action,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40109,165201,Snatched (1973),Crime|Drama|Thriller,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [109]:
ratings_movies = pd.merge(ratings, movies, on='movie_id')[['user_id', 'movie_title', 'movie_id','rating', 'movie_genre']]

ratings_movies.head()
#ratings_movies[ratings_movies.user_id==50]

   user_id             movie_title  movie_id  rating movie_genre
0        1  Dangerous Minds (1995)        31     2.5       Drama
1        7  Dangerous Minds (1995)        31     3.0       Drama
2       31  Dangerous Minds (1995)        31     4.0       Drama
3       32  Dangerous Minds (1995)        31     4.0       Drama
4       36  Dangerous Minds (1995)        31     3.0       Drama

In [80]:
ratings_movies.tail()

,user_id,movie_title,movie_id,rating,movie_genre
99999,664,War of the Worlds (2005),64997,2.5,Action|Sci-Fi
100000,664,"Box, The (2009)",72380,3.5,Drama|Horror|Mystery|Sci-Fi|Thriller
100001,665,Pie in the Sky (1996),129,3.0,Comedy|Romance
100002,665,Summer Catch (2001),4736,1.0,Comedy|Drama|Romance
100003,668,"6th Man, The (Sixth Man, The) (1997)",6425,1.0,Comedy

In [111]:
ratings_movies['user_id'] = ratings_movies['user_id'].astype('int64')
ratings_movies['movie_id'] = ratings_movies['movie_id'].astype('int64')
ratings_movies['rating'] = ratings_movies['rating'].astype('float64')
print(ratings.dtypes)

user_id       int64
movie_id      int64
rating      float64
dtype: object

In [82]:
ratings_matrix = ratings_movies.pivot_table(values='rating', index='user_id', columns='movie_title')
ratings_matrix.head()

movie_title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
ratings_matrix = ratings_movies.pivot_table(values='rating', index='user_id', columns='movie_title')  

ratings_matrix = ratings_matrix.apply(lambda x: x.fillna(x.mean()), axis=0)
ratings_matrix = ratings_matrix.apply(lambda x: x - x.mean(), axis=1)

movies_index = ratings_matrix.columns

ratings_matrix.head()

movie_title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
user_id,,,,,,,,,,,,,,,,,,,,,
1,-0.567629,0.099038,1.432371,0.432371,-0.567629,-1.567629,0.182371,-0.804471,-0.234296,0.299038,...,-0.817629,-0.567629,-0.234296,-0.088462,0.432371,-0.241542,1.432371,-0.470855,1.432371,-1.567629
2,-0.567755,0.098912,1.432245,0.432245,-0.567755,-1.567755,0.182245,-0.804597,-0.234422,0.298912,...,-0.817755,-0.567755,-0.234422,-0.088588,0.432245,-0.241668,1.432245,-0.470981,1.432245,-1.567755
3,-0.567629,0.099038,1.432371,0.432371,-0.567629,-1.567629,0.182371,-0.804471,-0.234296,0.299038,...,-0.817629,-0.567629,-0.234296,-0.088462,0.432371,-0.241542,1.432371,-0.470855,1.432371,-1.567629
4,-0.567713,0.098954,1.432287,0.432287,-0.567713,-1.567713,0.182287,-0.804555,-0.234380,0.298954,...,-0.817713,-0.567713,-0.234380,-0.088546,0.432287,-0.241626,1.432287,-0.470939,1.432287,-1.567713
5,-0.567741,0.098926,1.432259,0.432259,-0.567741,-1.567741,0.182259,-0.804583,-0.234408,0.298926,...,-0.817741,-0.567741,-0.234408,-0.088574,0.432259,-0.241654,1.432259,-0.470967,1.432259,-1.567741

In [84]:
ratings_matrix.tail()

movie_title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
user_id,,,,,,,,,,,,,,,,,,,,,
667,-0.567681,0.098985,1.432319,0.432319,-0.567681,-1.567681,0.182319,-0.804524,-0.234348,0.298985,...,-0.817681,-0.567681,-0.234348,-0.088515,0.432319,-0.241594,1.432319,-0.470907,1.432319,-1.567681
668,-0.567681,0.098985,1.432319,0.432319,-0.567681,-1.567681,0.182319,-0.804524,-0.234348,0.298985,...,-0.817681,-0.567681,-0.234348,-0.088515,0.432319,-0.241594,1.432319,-0.470907,1.432319,-1.567681
669,-0.567681,0.098985,1.432319,0.432319,-0.567681,-1.567681,0.182319,-0.804524,-0.234348,0.298985,...,-0.817681,-0.567681,-0.234348,-0.088515,0.432319,-0.241594,1.432319,-0.470907,1.432319,-1.567681
670,-0.567681,0.098985,1.432319,0.432319,-0.567681,-1.567681,0.182319,-0.804524,-0.234348,0.298985,...,-0.817681,-0.567681,-0.234348,-0.088515,0.432319,-0.241594,1.432319,-0.470907,1.432319,-1.567681
671,-0.567635,0.099031,1.432365,0.432365,-0.567635,-1.567635,0.182365,-0.804477,-0.234302,0.299031,...,-0.817635,-0.567635,-0.234302,-0.088469,0.432365,-0.241548,1.432365,-0.470861,1.432365,-1.567635

In [85]:
ratings_matrix.T.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movie_title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",-0.567629,-0.567755,-0.567629,-0.567713,-0.567741,-0.567654,-0.567601,-0.567722,-0.567693,-0.567667,...,-0.567681,-0.567681,-0.567681,-0.567681,-0.567681,-0.567681,-0.567681,-0.567681,-0.567681,-0.567635
$9.99 (2008),0.099038,0.098912,0.099038,0.098954,0.098926,0.099013,0.099065,0.098945,0.098973,0.099000,...,0.098985,0.098985,0.098985,0.098985,0.098985,0.098985,0.098985,0.098985,0.098985,0.099031
'Hellboy': The Seeds of Creation (2004),1.432371,1.432245,1.432371,1.432287,1.432259,1.432346,1.432399,1.432278,1.432307,1.432333,...,1.432319,1.432319,1.432319,1.432319,1.432319,1.432319,1.432319,1.432319,1.432319,1.432365
'Neath the Arizona Skies (1934),0.432371,0.432245,0.432371,0.432287,0.432259,0.432346,0.432399,0.432278,0.432307,0.432333,...,0.432319,0.432319,0.432319,0.432319,0.432319,0.432319,0.432319,0.432319,0.432319,0.432365
'Round Midnight (1986),-0.567629,-0.567755,-0.567629,-0.567713,-0.567741,-0.567654,-0.567601,-0.567722,-0.567693,-0.567667,...,-0.567681,-0.567681,-0.567681,-0.567681,-0.567681,-0.567681,-0.567681,-0.567681,-0.567681,-0.567635

In [86]:
correlation_matrix = np.corrcoef(ratings_matrix.T)  
correlation_matrix.shape

(9064, 9064)

In [87]:
#El resultado de llamar al método corrcoef es una matriz con los coeficientes de correlación 
#o similitud de cada película con las demás
correlation_matrix

array([[1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.],
       [1., 1., 1., ..., 1., 1., 1.]])

In [88]:
movies_index

Index(['"Great Performances" Cats (1998)', '$9.99 (2008)',
       ''Hellboy': The Seeds of Creation (2004)',
       ''Neath the Arizona Skies (1934)', ''Round Midnight (1986)',
       ''Salem's Lot (2004)', ''Til There Was You (1997)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)',
       ...
       'Zulu (1964)', 'Zulu (2013)', '[REC] (2007)', 'eXistenZ (1999)',
       'loudQUIETloud: A Film About the Pixies (2006)', 'xXx (2002)',
       'xXx: State of the Union (2005)', '¡Three Amigos! (1986)',
       'À nous la liberté (Freedom for Us) (1931)', 'İtirazım Var (2014)'],
      dtype='object', name='movie_title', length=9064)

In [89]:
favourite_movie_title = 'Jason Bourne (2016)'

favourite_movie_index = list(movies_index).index(favourite_movie_title)

P = correlation_matrix[favourite_movie_index]

list(movies_index[(P>0.15) &(P<1.0)])[0:20]

["'Neath the Arizona Skies (1934)",
 '...And God Spoke (1993)',
 '10 Attitudes (2001)',
 '10 Years (2011)',
 '100 Girls (2000)',
 '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
 '11\'09"01 - September 11 (2002)',
 '127 Hours (2010)',
 '12:08 East of Bucharest (A fost sau n-a fost?) (2006)',
 '16 Blocks (2006)',
 '1990: The Bronx Warriors (1990: I guerrieri del Bronx) (1982)',
 '2 Guns (2013)',
 '2010: The Year We Make Contact (1984)',
 '24 Hour Woman, The (1998)',
 '24: Redemption (2008)',
 '3 Idiots (2009)',
 '3 Ninjas Kick Back (1994)',
 '3 Ninjas Knuckle Up (1995)',
 '3-Day Weekend (2008)',
 '30 Years to Life (2001)']

In [90]:
def get_movie_correlations(movie_title):  
    '''Devuelve el vector de correlación para una determinada pelicula'''
    movie_index = list(movies_index).index(movie_title)
    return correlation_matrix[movie_index]

def get_similar_movies(movie_title, threshold=0.15):
    '''Devuelve peliculas similares tomando como umbral 0.15'''
    movie_correlations_array =  get_movie_correlations(movie_title)
    return movies_index[movie_correlations_array>threshold]

In [91]:
get_similar_movies('Jason Bourne (2016)')

Index(['"Great Performances" Cats (1998)', '$9.99 (2008)',
       ''Hellboy': The Seeds of Creation (2004)',
       ''Neath the Arizona Skies (1934)', ''Round Midnight (1986)',
       ''Salem's Lot (2004)', ''Til There Was You (1997)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)',
       ...
       'Zulu (1964)', 'Zulu (2013)', '[REC] (2007)', 'eXistenZ (1999)',
       'loudQUIETloud: A Film About the Pixies (2006)', 'xXx (2002)',
       'xXx: State of the Union (2005)', '¡Three Amigos! (1986)',
       'À nous la liberté (Freedom for Us) (1931)', 'İtirazım Var (2014)'],
      dtype='object', name='movie_title', length=8562)

In [92]:
get_similar_movies('Jumanji (1995)')

Index(['"Great Performances" Cats (1998)', '$9.99 (2008)',
       ''Hellboy': The Seeds of Creation (2004)',
       ''Neath the Arizona Skies (1934)', ''Round Midnight (1986)',
       ''Salem's Lot (2004)', ''Til There Was You (1997)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)',
       ...
       'Zulu (1964)', 'Zulu (2013)', '[REC] (2007)', 'eXistenZ (1999)',
       'loudQUIETloud: A Film About the Pixies (2006)', 'xXx (2002)',
       'xXx: State of the Union (2005)', '¡Three Amigos! (1986)',
       'À nous la liberté (Freedom for Us) (1931)', 'İtirazım Var (2014)'],
      dtype='object', name='movie_title', length=8562)

In [93]:
def get_movie_recommendations(user_movies):  
    '''dada una lista de peliculas, devuelve todas las películas similares ordenadas por el índice de correlación'''
    movie_similarities = np.zeros(correlation_matrix.shape[0])
    for movie_id in user_movies:
        movie_similarities = movie_similarities + get_movie_correlations(movie_id)
    similar_movies = pd.DataFrame({
        'movie_title': movies_index,
        'sum_similarity': movie_similarities
        })
    similar_movies = similar_movies[~(similar_movies.movie_title.isin(user_movies))]
    similar_movies = similar_movies.sort_values(by=['sum_similarity'], ascending=False)
    return similar_movies

In [94]:
#obtenemos las recomendaciones que ha realizado un usuario
id_user = 50
ratings[ratings.user_id==id_user].sort_values(by=['rating'], ascending=False)[:10]

      user_id  movie_id  rating
8028       50       589     5.0
7987       50        10     4.0
8002       50       292     4.0
8031       50       780     4.0
8024       50       527     4.0
8022       50       480     4.0
8018       50       440     4.0
8013       50       368     4.0
8012       50       367     4.0
8011       50       357     4.0

In [118]:
#obtenemos las recomendaciones para un usuario,

#obtener las peliculas puntuadas por un determinado usuario
id_user = 50
user_movies = ratings_movies[ratings_movies.user_id==id_user].sort_values(by=['rating'], ascending=False).movie_title.tolist() 
user_movies[0:10]
#ratings[ratings.user_id==id_user]

['Terminator 2: Judgment Day (1991)',
 'GoldenEye (1995)',
 'Outbreak (1995)',
 "Schindler's List (1993)",
 'Jurassic Park (1993)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Mask, The (1994)',
 'Four Weddings and a Funeral (1994)',
 'While You Were Sleeping (1995)',
 'Pulp Fiction (1994)']

In [119]:
#obtener recomendaciones a partir de las peliculas favoritas de un usuario
recommendations = get_movie_recommendations(user_movies)

recommendations.movie_title.head

<bound method NDFrame.head of 7206                                       Sisters (2015)
0                        "Great Performances" Cats (1998)
4767                                       Lockout (2012)
4789                           Long Walk Home, The (1990)
4782                                 Lonesome Dove (1989)
4779                                 Lone Survivor (2013)
4778                                     Lone Star (1996)
4777                              Lone Ranger, The (2013)
4776                             London Has Fallen (2016)
4771                                   Lola Versus (2012)
4764                                    Local Hero (1983)
4741                        Little Otik (Otesánek) (2000)
4763    Loaded Weapon 1 (National Lampoon's Loaded Wea...
4762                                        Loaded (1994)
4761                     Lizzie McGuire Movie, The (2003)
4755                               Live Nude Girls (1995)
4751                                  Little Women (1994)
4746                             Little Romance, A (1979)
4745                                Little Richard (2000)
4790                         Long, Hot Summer, The (1958)
4799                  Look at Me (Comme une image) (2004)
4800                          Look of Silence, The (2014)
4837                            Lost and Delirious (2001)
4853                                 Love Actually (2003)
4848                         Louis C.K.: Shameless (2007)
4846        Louis C.K.: Live at the Beacon Theater (2011)
4845          Louis C.K.: Live at The Comedy Store (2015)
4844                         Louis C.K.: Hilarious (2010)
4843                         Louis C.K.: Chewed Up (2008)
4840                                 Lost in Space (1998)
                              ...
2144                              Descendants, The (2011)
6793                                 Runaway Bride (1999)
1008                               Black Narcissus (1947)
1787                             Conspiracy Theory (1997)
2729                  Fast Times at Ridgemont High (1982)
77                                      27 Dresses (2008)
170                            About Last Night... (1986)
1051                                         Blink (1994)
8833                                   Wild Things (1998)
3117     Gentlemen of Fortune (Dzhentlmeny udachi) (1972)
5423                                       Mumford (1999)
4002                       In the Mouth of Madness (1995)
2973                                 Freaky Friday (2003)
5348                                     Moonraker (1979)
8159                                       Timecop (1994)
7408                                  Spider-Man 2 (2004)
5628                                       Newsies (1992)
8562                          Virgin Suicides, The (1999)
2576    European Vacation (aka National Lampoon's Euro...
5806                                  Office Space (1999)
4896                           Lucky Number Slevin (2006)
6147                                  Pianist, The (2002)
1295                                Bruce Almighty (2003)
8537                                       Vertigo (1958)
4836                Lost World: Jurassic Park, The (1997)
79                                   28 Days Later (2002)
2670                               Fahrenheit 9/11 (2004)
862                           Bend It Like Beckham (2002)
4504                             Lady in the Water (2006)
391                              American Splendor (2003)
Name: movie_title, Length: 9018, dtype: object>