In [1]:
import pandas as pd
import numpy as np

In [19]:
u_cols = ['movieId', 'title', 'genres']
data = pd.read_csv('movies.csv',header=0,names=u_cols)

In [20]:
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [38]:
# Esto es un filtro
movies = data[data.movieId <= 10]

In [39]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [40]:
movies.genres.str.get_dummies(sep='|')

,Action,Adventure,Animation,Children,Comedy,Crime,Drama,Fantasy,Romance,Thriller
0,0,1,1,1,1,0,0,1,0,0
1,0,1,0,1,0,0,0,1,0,0
2,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,1,0,1,0,1,0
4,0,0,0,0,1,0,0,0,0,0
5,1,0,0,0,0,1,0,0,0,1
6,0,0,0,0,1,0,0,0,1,0
7,0,1,0,1,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0
9,1,1,0,0,0,0,0,0,0,1

In [29]:
dataset = pd.concat([data, data.genres.str.get_dummies(sep='|')], axis=1)

In [30]:
dataset.head()

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
movie_categories = dataset.columns[3:].tolist()

In [34]:
movie_categories

['(no genres listed)',
 'Action',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'IMAX',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [41]:
dataset.tail()

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
40105,165193,Tanya's Island (1980),Drama|Fantasy|Romance,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
40106,165195,Pacific Banana (1981),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
40107,165197,Werewolf in a Women's Prison (2006),(no genres listed),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40108,165199,The Fearless Young Boxer (1979),Action,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40109,165201,Snatched (1973),Crime|Drama|Thriller,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [47]:
dataset[dataset.movieId == 25].title

24    Leaving Las Vegas (1995)
Name: title, dtype: object

In [48]:
dataset.loc[24]

movieId                                     25
title                 Leaving Las Vegas (1995)
genres                           Drama|Romance
(no genres listed)                           0
Action                                       0
Adventure                                    0
Animation                                    0
Children                                     0
Comedy                                       0
Crime                                        0
Documentary                                  0
Drama                                        1
Fantasy                                      0
Film-Noir                                    0
Horror                                       0
IMAX                                         0
Musical                                      0
Mystery                                      0
Romance                                      1
Sci-Fi                                       0
Thriller                                     0
War                                          0
Western                                      0
Name: 24, dtype: object

In [119]:
def get_user_preferences(user_movies):
    user_features = dataset[dataset.title.isin(user_movies)].iloc[:,3:].T
    user_features = user_features.mean(axis=1).reset_index()
    return user_features.iloc[:,1].tolist()

In [121]:
user_preferences_list = get_user_preferences(user_movies)
user_preferences_list

[0.0,
 0.0,
 0.5,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [124]:
def get_predicted_movie_score(movie_name, user_preferences):
    movie_slice = dataset[dataset.title==movie_name].iloc[0]
    movie_features = movie_slice[movie_categories]
    return np.dot(movie_features, user_preferences)

In [125]:
get_predicted_movie_score('Armageddon (1998)', user_preferences_list)

0.0

In [126]:
get_predicted_movie_score('Lambert & Stamp (2014)', user_preferences_list)

1.0

In [127]:
#Adventure #recomendable
get_predicted_movie_score('The Great Alone (2015)', user_preferences_list)

1.5

In [144]:
def get_movie_recommendations(user_preferences, number_recommendations):
    dataset['score'] = dataset.title.apply(get_predicted_movie_score, args=([user_preferences]))
    dataset.sort_values(by=['score'], ascending=False, inplace=True)
    return dataset[['title','genres','score']].head(number_recommendations)

In [145]:
get_movie_recommendations(user_preferences_list, 10)

,title,genres,score
16458,Sweetgrass (2009),Adventure|Documentary|Western,1.5
16443,From B Movie to Cult Film: Western (2005),Adventure|Documentary,1.5
18934,"Desert of Forbidden Art, The (2010)",Adventure|Documentary|Drama|War,1.5
30284,K2: Siren of the Himalayas (2012),Adventure|Documentary,1.5
35614,Racing Extinction (2015),Action|Adventure|Documentary,1.5
19523,Bigfoot Lives (2007),Adventure|Documentary|Drama,1.5
23907,Ride the Divide (2010),Adventure|Documentary,1.5
14069,Wings of Hope (Julianes Sturz in den Dschungel...,Adventure|Documentary,1.5
439,"Endless Summer 2, The (1994)",Adventure|Documentary,1.5
27915,Project Wild Thing (2013),Adventure|Children|Documentary|Drama,1.5

In [146]:
#obtener recomendaciones a partir de los gustos del usuario

from collections import OrderedDict

user_preferences = OrderedDict(zip(movie_categories, []))

user_preferences['(no genres listed)'] = 0 
user_preferences['Action'] = 1  
user_preferences['Adventure'] = 1  
user_preferences['Animation'] = 5  
user_preferences["Children's"] = 0  
user_preferences["Comedy"] = 1  
user_preferences['Crime'] = 1  
user_preferences['Documentary'] = 1  
user_preferences['Drama'] = 1  
user_preferences['Fantasy'] = 1  
user_preferences['Film-Noir'] = 1  
user_preferences['Horror'] = 0
user_preferences['IMAX'] = 1 
user_preferences['Musical'] = 1  
user_preferences['Mystery'] = 1  
user_preferences['Romance'] = 1  
user_preferences['Sci-Fi'] = 5  
user_preferences['War'] = 1  
user_preferences['Thriller'] = 1  
user_preferences['Western'] =1  

user_preferences_list = list(user_preferences.values())

In [147]:
get_movie_recommendations(user_preferences_list, 10)

,title,genres,score
9002,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...,16
11811,Aqua Teen Hunger Force Colon Movie Film for Th...,Action|Adventure|Animation|Comedy|Fantasy|Myst...,15
31964,Mobile Suit Gundam II: Soldiers of Sorrow (1981),Action|Adventure|Animation|Drama|Sci-Fi|War,14
11235,Mind Game (2004),Adventure|Animation|Comedy|Fantasy|Romance|Sci-Fi,14
16900,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...,14
9828,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...,14
39025,Kingsglaive: Final Fantasy XV (2016),Action|Adventure|Animation|Drama|Fantasy|Sci-Fi,14
13116,Futurama: Bender's Game (2008),Action|Adventure|Animation|Comedy|Fantasy|Sci-Fi,14
31965,Mobile Suit Gundam III: Encounters in Space (1...,Action|Adventure|Animation|Drama|Sci-Fi|War,14
34036,Princes and Princesses (2000),Animation|Children|Comedy|Drama|Fantasy|Romanc...,14